rkamireadf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rkamireadf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "import logs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "productID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "DateTime",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "categoryID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "manufacturerID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "1",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "2",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "3",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "4",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "5",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "count",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 11
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import categories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_categories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_categories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import manufacturers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_manufacturers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_manufacturers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "statistics collection",
						"type": "DataLakeAnalyticsU-SQL",
						"dependsOn": [
							{
								"activity": "import logs",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "import products",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "import categories",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "import manufacturers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "servicePrincipalKey",
								"value": "Vo.k_xW_~XsCKb4_iJ13qW.OWa1m7dIi2t"
							}
						],
						"typeProperties": {
							"scriptPath": "statistics collection/script",
							"scriptLinkedService": {
								"referenceName": "dlStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDataLakeAnalytics",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "export popularity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "statistics collection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "manufacturer",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 2
										},
										"sink": {
											"name": "reiting",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OUTPUT_populatiry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Result_popularity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "export sales",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "statistics collection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "manufacturer",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 2
										},
										"sink": {
											"name": "count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 3
										},
										"sink": {
											"name": "price",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OUTPUT_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Result_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "export QuantitativeCharacteristic",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "statistics collection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "DateTime",
											"ordinal": 1
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 2
										},
										"sink": {
											"name": "mobile count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 3
										},
										"sink": {
											"name": "mobile price",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 4
										},
										"sink": {
											"name": "laptop count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 5
										},
										"sink": {
											"name": "laptop price",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 6
										},
										"sink": {
											"name": "tablet count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 7
										},
										"sink": {
											"name": "tablet price",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OUTPUT_QuantitativeCharacteristic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Result_QuantitativeCharacteristic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2020-06-06T15:36:00.000Z",
						"endTime": "2020-06-07T15:36:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline')]"
			]
		}
	]
}