rkamireadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rkamireadf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeAnalytics_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'AzureDataLakeAnalytics'"
		},
		"AzureSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlServer'"
		},
		"localSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'localSqlServer'"
		},
		"localSqlServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'localSqlServer'"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rkamireadla"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "96f99cab-b60b-43a3-a2a8-eb32d4005921"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "12873d38-e385-41f8-9f52-081db89b3162"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "5ecff6c0-7116-4718-83e7-fef6275959ca"
		},
		"AzureDataLakeAnalytics_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "rka-mirea-rg"
		},
		"dlStorage_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://rkamireadls.azuredatalakestore.net/webhdfs/v1"
		},
		"dlStorage_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "12873d38-e385-41f8-9f52-081db89b3162"
		},
		"dlStorage_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "5ecff6c0-7116-4718-83e7-fef6275959ca"
		},
		"dlStorage_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "rka-mirea-rg"
		},
		"localSqlServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "rkrtu"
		},
		"trigger1_properties_pipeline_parameters_ADFConnect": {
			"type": "string",
			"defaultValue": "Vo.k_xW_~XsCKb4_iJ13qW.OWa1m7dIi2t"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "import logs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "productID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "DateTime",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "categoryID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "manufacturerID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "1",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "2",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "3",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "4",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "5",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "count",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 11
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import categories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_categories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_categories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "import manufacturers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Table_manufacturers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RAW_manufacturers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "statistics collection",
						"type": "DataLakeAnalyticsU-SQL",
						"dependsOn": [
							{
								"activity": "import logs",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "import products",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "import categories",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "import manufacturers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "statistics collection/script",
							"scriptLinkedService": {
								"referenceName": "dlStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDataLakeAnalytics",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "export popularity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "statistics collection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "manufacturer",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 2
										},
										"sink": {
											"name": "reiting",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OUTPUT_populatiry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Result_popularity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "export sales",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "statistics collection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "manufacturer",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 2
										},
										"sink": {
											"name": "count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 3
										},
										"sink": {
											"name": "price",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OUTPUT_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Result_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "export QuantitativeCharacteristic",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "statistics collection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "DateTime",
											"ordinal": 1
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 2
										},
										"sink": {
											"name": "mobile count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 3
										},
										"sink": {
											"name": "mobile price",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 4
										},
										"sink": {
											"name": "laptop count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 5
										},
										"sink": {
											"name": "laptop price",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 6
										},
										"sink": {
											"name": "tablet count",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "Int64",
											"ordinal": 7
										},
										"sink": {
											"name": "tablet price",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OUTPUT_QuantitativeCharacteristic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Result_QuantitativeCharacteristic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"ADFConnect": {
						"type": "string",
						"defaultValue": "Vo.k_xW_~XsCKb4_iJ13qW.OWa1m7dIi2t"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Table_logs')]",
				"[concat(variables('factoryId'), '/datasets/RAW_logs')]",
				"[concat(variables('factoryId'), '/datasets/Table_products')]",
				"[concat(variables('factoryId'), '/datasets/RAW_products')]",
				"[concat(variables('factoryId'), '/datasets/Table_categories')]",
				"[concat(variables('factoryId'), '/datasets/RAW_categories')]",
				"[concat(variables('factoryId'), '/datasets/Table_manufacturers')]",
				"[concat(variables('factoryId'), '/datasets/RAW_manufacturers')]",
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeAnalytics')]",
				"[concat(variables('factoryId'), '/datasets/OUTPUT_populatiry')]",
				"[concat(variables('factoryId'), '/datasets/Result_popularity')]",
				"[concat(variables('factoryId'), '/datasets/OUTPUT_sales')]",
				"[concat(variables('factoryId'), '/datasets/Result_sales')]",
				"[concat(variables('factoryId'), '/datasets/OUTPUT_QuantitativeCharacteristic')]",
				"[concat(variables('factoryId'), '/datasets/Result_QuantitativeCharacteristic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OUTPUT_QuantitativeCharacteristic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "QuantitativeCharacteristic.csv",
						"folderPath": "TASK/OUTPUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OUTPUT_populatiry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "popularity.csv",
						"folderPath": "TASK/OUTPUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OUTPUT_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "sales.csv",
						"folderPath": "TASK/OUTPUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "category.csv",
						"folderPath": "TASK/RAW"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_logs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "log.csv",
						"folderPath": "TASK/RAW"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_manufacturers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "manufacturer.csv",
						"folderPath": "TASK/RAW"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dlStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "products.csv",
						"folderPath": "TASK/RAW"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dlStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Result_QuantitativeCharacteristic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "mobile count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "mobile price",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "laptop count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "laptop price",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tablet count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tablet price",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "QuantitativeCharacteristic"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Result_popularity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "manufacturer",
						"type": "varchar"
					},
					{
						"name": "reiting",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "popularity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Result_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "manufacturer",
						"type": "varchar"
					},
					{
						"name": "count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "price",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "category"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_logs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_manufacturers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "manufacturer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Table_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localSqlServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "categoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "manufacturerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "price",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeAnalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeAnalytics",
				"typeProperties": {
					"accountName": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_accountName')]",
					"servicePrincipalId": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeAnalytics_servicePrincipalKey')]"
					},
					"tenant": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeAnalytics_properties_typeProperties_resourceGroupName')]"
				},
				"connectVia": {
					"referenceName": "rkamireashir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/rkamireashir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dlStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('dlStorage_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('dlStorage_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('dlStorage_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('dlStorage_properties_typeProperties_resourceGroupName')]"
				},
				"connectVia": {
					"referenceName": "rkamireashir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/rkamireashir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/localSqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('localSqlServer_connectionString')]",
					"userName": "[parameters('localSqlServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('localSqlServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "rkamireashir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/rkamireashir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"ADFConnect": "[parameters('trigger1_properties_pipeline_parameters_ADFConnect')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 12,
						"startTime": "2020-06-06T15:36:00.000Z",
						"endTime": "2020-06-08T15:36:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rkamireashir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "integration runtime (self-hosted)",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}